@import url(https://fonts.googleapis.com/css?family=Lato:600);

body {
    font-family: Lato, sans-serif;
    margin: 1em;
}
 #container {
    width: 80%;
    background-color: #eeeeee;
    margin: 0 auto;
    padding: 2em;
 }
 .row{
    width:100%;
    margin-bottom: 1em;
 }
 .version{
    font-size: 0.7em;
    font-style: italic;
    color: #666;
    text-align: right;
 }